
$primary : #0070C0;
$secondary : #000000;
$success : #92D050;
$warning : #FFF8DC;
$danger: #DC1354;

$white : white;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
     font-size: 14px;
}

body{
    //  font: 1rem/1;
     background-color: white;
}

